# Dependencies
node_modules/
**/node_modules/

# Environment Variables & Secrets
.env
.env.*
.env.local
**/.env
**/.env.*

# Logs & Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documentation files (Only README.md is tracked on GitHub)
*.md
!README.md
!**/README.md
*.pdf

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
